@if(pokemon){
<div class="fondo">

    <div class="container">
        <div class="contenedorExterno">
            <div class="row">
                <div class="col-3">
                    <div class="contenedorImagenPokemon">
                        <img class="imagenPokemon" [src]="urlImagen"
                            (click)="reproducirGrito(pokemon.Sonido)">
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="machoBoton"><i class="bi bi-gender-male" (click)="cambiarImagen(pokemon.Sprites.front_default)"></i></button>
                        </div>
                        @if(pokemon.Sprites.front_female){
                            <div class="col">
                            <button class="hembraBoton"><i class="bi bi-gender-female" (click)="cambiarImagen(pokemon.Sprites.front_female)"></i></button>
                        </div>
                        }
                        <div class="col">
                            <button class="shinyBoton"><i class="bi bi-gender-male" (click)="cambiarImagen(pokemon.Sprites.front_shiny)"></i></button>
                        </div>
                        @if(pokemon.Sprites.front_shiny_female){
                            <div class="col">
                            <button class="shinyBoton"><i class="bi bi-gender-female" (click)="cambiarImagen(pokemon.Sprites.front_shiny_female)"></i></button>
                        </div>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="contenedorDatosPokemon">
                        <div class="row elementoInterno">
                            <div class="col">
                                <h1 class="text-dark">{{pokemon.Nombre}}</h1>
                            </div>

                            <div class="col">
                                @switch (pokemon.Id) {
                                @case (1) {
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',pokemon.Id+1]"><i
                                        class="bi bi-caret-up-fill"></i></button>
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',1025]"><i
                                        class="bi bi-caret-down-fill"></i></button>
                                }
                                @case (1025) {
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',1]"><i
                                        class="bi bi-caret-up-fill"></i></button>
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',pokemon.Id-1]"><i
                                        class="bi bi-caret-down-fill"></i></button>
                                }
                                @default {
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',pokemon.Id+1]"><i
                                        class="bi bi-caret-up-fill"></i></button>
                                <button class="botonCambioPagina" [routerLink]="['/pokemon/',pokemon.Id-1]"><i
                                        class="bi bi-caret-down-fill"></i></button>
                                }
                                }
                            </div>
                            <div class="col">
                                <h1 class="text-dark"><strong>{{pokemon.Id}}</strong></h1>
                            </div>
                            <div class="col">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="elementoInterno">
                                    @for (tipo of pokemon.Tipos; track tipo.IdTipo) {
                                    <strong class="{{tipo.Nombre}}">{{tipo.Nombre}}</strong>
                                    }
                                </div>
                                <h6 class="elementoInterno">{{pokemon.Especie.Descripcion}}
                                </h6>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <strong>Altura: {{pokemon.Altura}} mt</strong>
                                </div>
                                <div>
                                    <strong>Peso: {{pokemon.Peso}} kg</strong>
                                </div>
                            </div>
                            <div class="col">
                                <strong>Habilidades</strong>
                                @for (habilidad of pokemon.Habilidades; track habilidad.IdHabilidad) {
                                <p><strong> {{habilidad.Nombre}}: </strong> {{habilidad.EfectosEntrada[0]}}</p>
                                }
                            </div>

                        </div>
                    </div>

                </div>



            </div>


        </div>

        <div class="contenedorMedio">


        </div>

        <div class="contenedorEstadisticas">
            <div class="row contenedorGrafica">
                <div class="col">
                    <div>
                        <p><strong>Ataque: </strong>{{pokemon.Ataque}}</p>
                    </div>
                    <div>
                        <p><strong>Atque especial: </strong>{{pokemon.AtaqueEspecial}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <p><strong>Defensa: </strong>{{pokemon.Defensa}}</p>
                    </div>
                    <div>
                        <p><strong>Defensa especial: </strong>{{pokemon.DefensaEspecial}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <p><strong>Velocidad: </strong>{{pokemon.Velocidad}}</p>
                    </div>
                    <div>
                        <p><strong>Experiencia Base: </strong>{{pokemon.ExperienciaBase}}</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <p><strong>Region: </strong>{{pokemon.Generacion.Region.Nombre}}</p>
                    </div>
                    <div>
                        <p><strong>Generacion: </strong>{{pokemon.Generacion.Region.id}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@else {
<div class="fondoCarga">
    <p>Cargando datos del Pokémon...</p>
</div>
}