.background-container {

    background-image: url("/background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  margin: auto;
  width: 300px;
  height: 300px;
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes spin {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
}
.overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(4px);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
}

.loader-ui{
width: 500px;
position: absolute;
bottom: 80px;
display: flex;
flex-direction: column;
align-items: center;
animation: name duration timing-function delay iteration-count direction fill-mode;
}
.loading-ui h2{
  font-size:34px;
  margin-bottom:20px;
  letter-spacing: 4x;
  color: #ffcb05;
  text-shadow: -3px -3px 0 #2a75bb, 3px -3px 0 #2a75bb, -3px 3px 0 #2a75bb, 3px 3px 0 #2a75bb,
  0 0 12px rgba(255, 203, 5, 0.8), 0 0 25px rgba(42, 117, 187, 0.7);
}

.bar-container{
  width:100%;
  height: 38px;
  background:rgba(255, 0, 0, 0.2);
  border-radius:999px;
  overflow:hidden;
  position : relative;
  backdrop-filter: brur(6px);

}
.progreso-text{
  color:orangered;
  font-size : 18px;
}

.bar{
  height:100%;
  border-radius: 999px;
  background: linear-gradient(90deg, #ffcb05, #2a75bb);
  transition: whidth 0.2s ease;
}
@keyframes aparecer {from{
  opacity: 0;
  transform: scale(0.8);
}
to{
  opacity: 1;
  transform:scale(1);
}
}